---
import Section from "./section.tsx";
---

<Section />

<main>
  <!-- Hero Section -->
  <section id="home">
    <div>
      <figure>
        <svg
          viewBox="0 0 200 200"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <mask id="mask0" mask-type="alpha">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                          130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                          97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                          0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            ></path>
          </mask>
          <g mask="url(#mask0)">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                          165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                          129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                          -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            ></path>
            <image
              x="12"
              y="18"
              xlink:href="../../public/img-perfil/perfil3SVG.svg"
            />
          </g>
        </svg>
      </figure>

      <div>
        <h1>Hi, I'm Jasson</h1>
        <h2>Frontend Developer</h2>
        <p>
          High level experience in web design and development knowledge,
          producing quality work.
        </p>
        <a href="#contact">Contact Me</a>
      </div>

      <div>
        <a href="#about">
          <span>Scroll down</span>
        </a>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about">
    <header>
      <h2>About Me</h2>
      <p>My introduction</p>
    </header>

    <div>
      <figure>
        <img
          src="../../public/img-perfil/perfil4.jpg"
          alt="Jasson Davila Bustamante profile photo"
        />
      </figure>

      <article>
        <p>
          Hola, mi nombre es Jasson Davila Bustamante. Soy de Perú, pero
          actualmente vivo en Buenos Aires, Argentina. Estoy estudiando la
          carrera de Ciencias de la Computación en la UBA, y me apasiona la
          tecnología. Por mi cuenta, he estado estudiando desarrollo web
          mientras termino mi carrera. Actualmente estoy trabajando en proyectos
          personales, tanto de backend como de frontend y mejorar mis
          habilidades.
        </p>

        <div>
          <a download="" href="assets/pdf/Alexa-Cv.pdf"> Download CV </a>
        </div>
      </article>
    </div>
  </section>

  <!-- Skills Section -->
  <section id="skills">
    <header>
      <h2>Skills</h2>
      <p>My technical level</p>
    </header>

    <div>
      <!-- Frontend Skills -->
      <article>
        <header>
          <h3>Frontend Developer</h3>
        </header>

        <ul>
          <li>
            <div>
              <h4>HTML</h4>
              <span>90%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>

          <li>
            <div>
              <h4>CSS</h4>
              <span>80%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>

          <li>
            <div>
              <h4>JavaScript</h4>
              <span>60%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>

          <li>
            <div>
              <h4>React</h4>
              <span>85%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>
        </ul>
      </article>

      <!-- Backend Skills -->
      <article>
        <header>
          <h3>Backend Developer</h3>
        </header>

        <ul>
          <li>
            <div>
              <h4>PHP</h4>
              <span>80%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>

          <li>
            <div>
              <h4>Node.js</h4>
              <span>70%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>

          <li>
            <div>
              <h4>Firebase</h4>
              <span>90%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>

          <li>
            <div>
              <h4>Python</h4>
              <span>55%</span>
            </div>
            <div>
              <span></span>
            </div>
          </li>
        </ul>
      </article>
    </div>
  </section>

  <!-- Portfolio Section -->
  <section id="portfolio">
    <header>
      <h2>Portfolio</h2>
      <p>Most recent work</p>
    </header>

    <div>
      <div>
        <!-- Portfolio Item 1 -->
        <article>
          <figure>
            <img
              src="../../public/img-portfolio/portfolio1.jpg"
              alt="Modern Website project"
            />
          </figure>

          <div>
            <h3>Modern Website</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, sapiente adipisci dolorem illo, voluptas voluptate
              assumenda.
            </p>
            <a href="#"> Demo </a>
          </div>
        </article>

        <!-- Portfolio Item 2 -->
        <article>
          <figure>
            <img
              src="../../public/img-portfolio/portfolio2.jpg"
              alt="Brand Design project"
            />
          </figure>

          <div>
            <h3>Brand Design</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, sapiente adipisci dolorem illo, voluptas voluptate
              assumenda.
            </p>
            <a href="#"> Demo </a>
          </div>
        </article>

        <!-- Portfolio Item 3 -->
        <article>
          <figure>
            <img
              src="../../public/img-portfolio/portfolio3.jpg"
              alt="Online Store project"
            />
          </figure>

          <div>
            <h3>Online Store</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus, sapiente adipisci dolorem illo, voluptas voluptate
              assumenda.
            </p>
            <a href="#"> Demo </a>
          </div>
        </article>
      </div>

      <!-- Navigation Arrows -->
      <button type="button" aria-label="Previous project">
        <span>←</span>
      </button>

      <button type="button" aria-label="Next project">
        <span>→</span>
      </button>

      <!-- Pagination -->
      <div role="tablist" aria-label="Portfolio navigation"></div>
    </div>
  </section>
</main>
